<!doctype html>
<html lang="en">
<head>
    {{> meta}}
    {{> title}}

    {{addGithubCSS "ccampbell" "rainbow" "master/themes/github.css"}}
    {{addLocalCSS "/css/main.css" prepend=true}}
    {{> styles}}

    {{> typekit}}
</head>
<body>

    <div class="yui3-g-r " id="layout">
        {{> menu}}

        <div class="yui3-u" id="main">

            {{{body}}}

            {{> legal}}

        </div>
    </div>

    {{addLocalJS "/js/ui.js"}}
    {{addLocalJS "/vendor/rainbow-min.js"}}

  {{#localJS}}
    <script src="{{{.}}}"></script>
  {{/localJS}}

</body>
</html>
