<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{pageTitle}}</title>

    {{addCdnCSS yui.version "cssnormalize" prepend=true}}
    {{addCdnCSS yui.version "cssgrids-responsive"}}
    {{addCdnCSS yui.version "cssbutton"}}

    <link rel="stylesheet" href="{{{cdnCSSURL}}}" />

    {{addGithubCSS "tilomitra" "csslist" "master/css/list-core.css"}}
    {{addGithubCSS "tilomitra" "csslist" "master/css/list.css"}}
    {{addGithubCSS "tilomitra" "csslist" "master/css/list-responsive.css"}}
    {{addGithubCSS "ccampbell" "rainbow" "master/themes/github.css"}}

  {{#githubCSS}}
    <link rel="stylesheet" href="{{{.}}}" />
  {{/githubCSS}}

    {{addLocalCSS "/css/main.css" prepend=true}}

  {{#localCSS}}
    <link rel="stylesheet" href="{{{.}}}" />
  {{/localCSS}}

  {{#if typekit}}
    <script src="http://use.typekit.net/{{typekit}}.js"></script>
    <script>
        try { Typekit.load(); } catch (e) {}
    </script>
  {{/if}}
</head>
<body>

    <div class="yui3-g-r " id="layout">
        {{> menu}}

        <div class="yui3-u" id="main">

            {{{body}}}

            {{> legal}}
        </div>
    </div>

    <script src="/js/ui.js"></script>
    <script src="/vendor/rainbow-min.js"></script>

</body>
</html>
