<!doctype html>
<html lang="en">
<head>
    {{> meta}}
    {{> title}}
    {{addLocalCSS "/css/main.css" prepend=true hasOldIE=true}}
    {{addLocalCSS "/css/main-grid.css" prepend=true hasOldIE=true}}
    {{addLocalCSS "/css/rainbow/baby-blue.css"}}
    {{> styles}}

    {{> typekit}}
    {{> analytics}}
</head>
<body>

    <div class="pure-g" id="layout">
        {{> menu}}

        <div class="pure-u-1" id="main">

            {{{body}}}

            {{> legal}}

        </div>
    </div>

    {{addLocalJS "/js/ui.js"}}
    {{addLocalJS "/vendor/rainbow/js/rainbow.min.js"}}
    {{addLocalJS "/vendor/rainbow/js/language/generic.js"}}
    {{addLocalJS "/vendor/rainbow/js/language/html.js"}}
    {{addLocalJS "/vendor/rainbow/js/language/css.js"}}
    {{addLocalJS "/vendor/rainbow/js/language/javascript.js"}}

  {{#localJS}}
    <script src="{{{.}}}"></script>
  {{/localJS}}

</body>
</html>
