<!doctype html>
<html lang="en">
<head>
    {{> meta}}
    {{> title}}
    {{addLocalCSS "/css/main.css" prepend=true hasOldIE=true}}
    {{addLocalCSS "/css/main-grid.css" prepend=true hasOldIE=true}}
    {{addLocalCSS "/css/rainbow/baby-blue.css"}}
    {{> styles}}

    {{> html5shiv}}
    {{> typekit}}
    {{> analytics}}
</head>
<body>

    <div id="layout">
        {{> menu}}

        <div id="main">

            {{{body}}}

            <div class="footer">
                {{> legal}}
            </div>
        </div>
    </div>

    <script>
        {{{state}}}
    </script>

  {{#if loadYUI}}
    {{> yui-seed}}
  {{/if}}

    {{addLocalJS "/js/ui.js"}}
    {{addLocalJS "/vendor/rainbow/js/rainbow.min.js"}}
    {{addLocalJS "/vendor/rainbow/js/language/generic.js"}}
    {{addLocalJS "/vendor/rainbow/js/language/html.js"}}
    {{addLocalJS "/vendor/rainbow/js/language/css.js"}}
    {{addLocalJS "/vendor/rainbow/js/language/javascript.js"}}

  {{#localJS}}
    <script src="{{{.}}}"></script>
  {{/localJS}}

</body>
</html>
