<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{title}}</title>

    {{addCdnCSS "3.9.0pr3" "cssnormalize" prepend=true}}
    <link rel="stylesheet" href="{{{cdnCSSURL}}}" />

  {{#githubCSS}}
    <link rel="stylesheet" href="{{{.}}}" />
  {{/githubCSS}}

    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

{{{body}}}

{{> legal}}

</body>
</html>
