{{setTitle     "YUI Forms CSS"}}
{{setSubTitle  "Simple CSS for HTML Forms"}}
{{setActiveNav "forms"}}

{{addCdnCSS yui.version "cssbutton"}}
{{addGithubCSS "tilomitra" "cssforms" "master/css/forms.css"}}
{{addGithubCSS "tilomitra" "cssforms" "master/css/forms-responsive.css"}}

{{> header}}

<div class="content">


    <h2 class="content-subhead">Default Form</h2>

    {{> forms/default}}

    {{#code}}
    {{> forms/default}}
    {{/code}}


    <h2 class="content-subhead">Multi-Column Form (with YUI Grids)</h2>
    <p>Multi-column forms such as the one below can be created by pulling down YUI Grids.</p>

    {{> forms/multi}}

    {{#code}}
    {{> forms/multi}}
    {{/code}}

    <h2 class="content-subhead">Inline Form</h2>

    {{> forms/inline}}

    {{#code}}
    {{> forms/inline}}
    {{/code}}


    <h2 class="content-subhead">Horizontal Form</h2>

    <p>Horizontal forms are great for standard forms that look well-aligned. The labels are right-aligned against the form input controls.</p>

    {{> forms/horizontal}}

    {{#code}}
    {{> forms/horizontal}}
    {{/code}}



    <h2 class="content-subhead">Grouped Inputs</h2>

    <p>Grouped inputs are great for grouping small sets of text-based input elements. They work well for sign-up forms, and look natural on mobile devices.</p>

    {{> forms/grouped}}

    {{#code}}
    {{> forms/grouped}}
    {{/code}}


    <h2 class="content-subhead">Prepending and Appending to Inputs</h2>

    <p>Sometimes, you may need to prepend or append text to {{code "<input>"}}s. To do this, put your input element in a wrapper with a {{code "yui3-input-prepend"}} or {{code "yui3-input-append"}} class name, and append or prepend a {{code "<span>"}} with a {{code "yui3-addon"}} class name.</p>

    {{> forms/appended-inputs}}

    {{#code}}
    {{> forms/appended-inputs}}
    {{/code}}


    <h2>Prepending and Appending Buttons to Inputs</h2>

    <p>Similar to text, you can also prepend and append buttons. Just follow the steps above, but replace the {{code "<span>"}} with a button or anchor element with a {{code "yui3-button"}} class name.</p>

    {{> forms/appended-buttons}}

    {{#code}}
    {{> forms/appended-buttons}}
    {{/code}}


    <h2 class="content-subhead">Input Sizing</h2>

    <p>You can size any input element by adding the classnames below. Since these styles just set {{code "width"}}, they can be  applied to more than just form controls.</p>


    {{> forms/input-size}}

    {{#code}}
    {{> forms/input-size}}
    {{/code}}


    <h2 class="content-subhead">Invalid Inputs</h2>
    <p>Add the {{code "required"}} attribute to any form control.</p>


    {{> forms/invalid}}

    {{#code}}
    {{> forms/invalid}}
    {{/code}}


    <h2 class="content-subhead">Disabled Inputs</h2>
    <p>Add the {{code "disabled"}} attribute to any form control.</p>

    {{> forms/disabled}}

    {{#code}}
    {{> forms/disabled}}
    {{/code}}

    <h2 class="content-subhead">Rounded Inputs</h2>
    <p>Add the {{code "yui3-input-rounded"}} classname to any form control.</p>

    {{> forms/rounded}}

    {{#code}}
    {{> forms/rounded}}
    {{/code}}


    <h2 class="content-subhead">Checkboxes and Radios</h2>
    <p>YUI Forms normalizes and aligns checkboxes and radio inputs for you too. Just add the {{code "yui3-checkbox"}} or {{code "yui3-radio"}} classname to these controls.</p>

    {{> forms/checkbox-radio}}

    {{#code}}
    {{> forms/checkbox-radio}}
    {{/code}}

</div>
