{{setTitle     "Layouts"}}
{{setSubTitle  "Quickstart your next web project"}}
{{setActiveNav "layouts"}}

{{addCdnCSS yui.version "cssgrids-responsive"}}
{{addCdnCSS yui.version "cssbutton"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">Common Layouts</h2>

    <p>
        YUI CSS was crafted with the goal that it can be used in every web project. To showcase this, we've made some common layouts that leverage YUI CSS. These layouts are responsive, and don't use any JavaScript. View the source, or simply pull in the HTML and CSS and quickstart your next great web site or app.
    </p>

    <div class="yui3-g-r">

        <div class="yui3-u-1-2">
            <div class="l-box">
                
                <a href="./marketing/"><img class="bordered" src="/img/layouts/marketing.png" width="400"></a>
            </div>
        </div>
        <div class="yui3-u-1-2">
            <div class="l-box">
                <h3>Landing Page</h3>
                <p>This layout shows off a responsive landing page for a possible product. It leverages CSS for <a href="./grids/">YUI Grids</a> and <a href="./lists">Navigation</a> lists.</p>

                <p><a href="./marketing/" class="yui3-button">View Layout</a>
            </div>
        </div>
    </div>

</div>









