{{setTitle     "YUI List CSS"}}
{{setSubTitle  "Simple CSS for HTML Lists"}}
{{setActiveNav "lists"}}

{{addCdnCSS yui.version "cssbutton"}}
{{addGithubCSS "tilomitra" "csslist" "master/css/list-paginator.css"}}
{{addLocalCSS "/css/lists.css"}}

{{> header}}

<!-- adding to the top so that the dropdown example code can run -->
<script src="http://yui.yahooapis.com/{{yui.version}}/build/yui/yui{{min}}.js"></script>

<div class="content">


    <h2 class="content-subhead">Horizontal Menu</h2>

    <p>
        Create horizontal menus by adding the {{code "yui3-menu-horizontal"}} class name. You can mark the active list element by adding the {{code "yui3-menu-active"}} class to the list element.
    </p>

    {{> lists/horizontal}}

    {{#code}}
    {{> lists/horizontal}}
    {{/code}}


    <h2 class="content-subhead">Vertical Menu</h2>

    <p>
        Menus are vertical by default. Just add the {{code "yui3-menu"}} class to style the menu, and the {{code "yui3-menu-open"}} class to ensure that it is visible.
    </p>

    {{> lists/vertical}}

    {{#code}}
    {{> lists/vertical}}
    {{/code}}

    <h2 class="content-subhead">Add Dropdowns to Menus</h2>

    <p>
        Adding dropdowns to menus requires the use of JavaScript. The {{code "Y.Menu"}} module adds dropdown functionality and the ability to create JavaScript menus.
    </p>

    {{> lists/dropdown}}

    {{#code}}
    {{> lists/dropdown}}
    {{/code}}



    <h2 class="content-subhead">Styled Menus</h2>
    <h3>Light Menu</h3>
    <p>
        Don't want a plain menu? Just add the class {{code "yui3-menu-light"}} to add some more styles to your menu.
    </p>


    {{> lists/light-menu}}

    {{#code}}
    {{> lists/light-menu}}
    {{/code}}


    <h3>Dark Menu</h3>
    <p>
        Light menus don't work well with dark backgrounds. Make your menu darker by adding the class {{code "yui3-menu-dark"}}.
    </p>

    <div class="dark-ribbon">
        {{> lists/dark-menu}}

        {{#code}}
        {{> lists/dark-menu}}
        {{/code}}
    </div>


    <h2 class="content-subhead">Paginators</h2>
    <p>
        Paginators are list-based elements too! You can implement a paginator control by adding the {{code "yui3-paginator"}} classname to a {{code "<ul>"}} element. Paginator controls generally look like buttons, but omit the {{code "yui3-button"}} class name if you want simple paginators.
    </p>

    {{> lists/paginator}}

    {{#code}}
    {{> lists/paginator}}
    {{/code}}

</div>









