<div class="grid-input">
    <ul class="grid-tabs pure-g">
        <li class="grid-tab pure-u">
            <a data-action="tab" class="grid-tab-link-selected grid-tab-link" href="#mqs">
                Media Queries
            </a>
        </li>
        <li class="grid-tab pure-u">
            <a data-action="tab" class="grid-tab-link" href="#options">
                Grid Options
            </a>
        </li>
    </ul>

    <div class="grid-content">
        <form id="mqs" class="grid-panel-selected grid-panel pure-form-aligned pure-form">
            <h3>Grids Media Queries</h3>

            <p>
                You can use Pure's default CSS Media Queries which will add {{code "grids-responsive.css"}} to your Pure Starter Kit, or we can generate a mobile-first, responsive grid if you provide us with the breakpoints.
            </p>

            <p>
                Pure's generated Responsive Grids is simple to use. It provides you with a specific CSS classname for each Media Query. For example, {{code "pure-u-md-*"}} for devices with {{code "width >= 768px"}}, and {{code "pure-u-lg-*"}} for devices with {{code "width >= 1024px"}}.
            </p>

            <p>
                What Media Queries should your grid system respond to?
            </p>

            <table id="media-query-table" {{#unless mediaQueries}}hidden{{/unless}}>
                <thead>
                    <tr class="pure-g">
                        <th class="pure-u-4-24 u-md-3-24">Grid Key</th>
                        <th class="pure-u-20-24 u-md-21-24">Media Query</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each mediaQueries}}
                        {{> start/rows}}
                    {{/each}}
                </tbody>
            </table>

            <div class="controls">
                <button type="button" data-action="add-default-mq" class="pure-button pure-button-primary">
                    Use Default Media Queries
                </button>
                <button type="button" data-action="add-mq" class="pure-button">
                    Add Media Query
                </button>
            </div>
        </form>

        <form id="options" class="grid-panel pure-form-aligned pure-form">
            <h3>Grid Options</h3>

            <p>
                Pure has a 5<sup>ths</sup> and 24<sup>ths</sup>-column grid system by default. You define an element's width using fractional classnames, e.g; {{code ".pure-u-2-5"}} for {{code "width: 40%"}}, or {{code ".pure-u-12-24"}} for {{code "width: 50%"}}.
            </p>

            <p>
                You can customize the number of columns; the default grid is 24 columns. You can also change the Grids classname prefix; the default is {{code ".pure-u-"}}.
            </p>

            <div>
                <div class="cols-control pure-control-group">
                    <label for="cols-input">
                        Number of Columns
                    </label>
                    <input id="cols-input" data-content="cols-input"
                           type="number" min="2" max="100" placeholder="24"
                           {{#if cols}}value="{{cols}}"{{/if}}>
                </div>

                <div class="prefix-control pure-control-group">
                    <label for="prefix-input">
                        Grid Prefix
                    </label>
                    <input id="prefix-input" data-content='prefix-input'
                           type="text" maxlength="20" placeholder=".pure-u-"
                           value="{{prefix}}">
                </div>
            </div>
        </form>
    </div>
</div>
