<div class="grid-input">
    <ul class="grid-tabs pure-g">
        <li class="grid-tab pure-u">
            <a data-action="tab" class="grid-tab-link grid-tab-link-selected" href="#cols">Columns</a>
        </li>
        <li class="grid-tab pure-u">
            <a data-action="tab" class="grid-tab-link" href="#mq">Media Queries</a>
        </li>
    </ul>

    <div class="grid-content">
        <div id="cols" class="grid-panel grid-panel-selected pure-form">
            <h3>Columns</h3>

            <p>
                Pure has a 5<sup>ths</sup> and 24-column grid system by default. You define an element's width using fractional class names (ex: {{code ".pure-u-2-5"}} for {{code "width: 40%"}}, or {{code ".pure-u-12-24"}} for {{code "width: 50%"}}).
            </p>
            <p>
                If you want to customize the number of columns, enter it below. The default grid is 24 columns.
            </p>
            <input data-content="cols-input" class="input-lg pure-u-1 pure-u-med-1-6" type="number" min="2" max="100" placeholder="24" {{#if cols}}value="{{cols}}"{{/if}}>
        </div>

        <div id="mq" class="grid-panel pure-form">
            <h3>Media Queries</h3>

            <p>
                By default, Pure's grid system does not include media queries since they can't be overriden. We can generate a mobile-first responsive grid if you provide us with media queries.
            </p>
            <p>
                Pure's generated responsive grid is simple. It provides you with a specific class name prefix for each media query. For example, {{code "pure-u-med-*"}} for devices with {{code "width > 767px"}}, and {{code "pure-u-lrg-*"}} for devices with {{code "width > 980px"}}. You choose the prefix and corresponding media query.
            </p>
            <p>
                If you want your grid class names to have a custom prefix, enter it below. The default is {{code ".pure-u-"}}.
            </p>

            <input data-content='prefix-input' class="input-lg pure-u-1 pure-u-med-1-6"
                   maxlength="20" type="text" placeholder=".pure-u-" value="{{prefix}}">

            <p>
                What media queries should your grid system respond to?
            </p>

            <table id="media-query-table" {{#unless mediaQueries}}hidden {{/unless}}>
                <thead>
                    <tr>
                        <th class="pure-u-1-6">Grid Key</th>
                        <th class="pure-u-3-4">Media Query</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each mediaQueries}}
                        {{> start/rows}}
                    {{/each}}
                </tbody>
            </table>

            <div class="controls">
                <button data-action="add-default-mq" class="pure-button pure-button-primary">
                    Use device media queries
                </button>
                <button data-action="add-mq" class="pure-button">
                    Add custom media query
                </button>
            </div>
        </div>
    </div>
</div>
