{{setTitle     "Buttons"}}
{{setSubTitle  "Simple CSS for Buttons"}}
{{setActiveNav "buttons"}}

{{addLocalCSS '/css/buttons.css'}}

{{addRemoteCSS 'http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'}}
{{addRemoteCSS 'http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.css'}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">Default Buttons</h2>
    <p>
        A Pure Button can be created by adding the {{code "pure-button"}} class name to any {{code "<a>"}} or {{code "<button>"}} element.
    </p>

  {{#prefixIds "default"}}
    {{> buttons/default}}
  {{/prefixIds}}


  {{#code}}
    {{> buttons/default}}
  {{/code}}

    <h2 class="content-subhead">Disabled Buttons</h2>
    <p>
        You can style a button to be disabled by appending the {{code "pure-button-disabled"}} class name to any {{code "<a>"}} or {{code "<button>"}} element that has the {{code "pure-button"}} class name.
    </p>

  {{#prefixIds "disabled"}}
    {{> buttons/disabled}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/disabled}}
  {{/code}}

    <h2 class="content-subhead">Active Buttons</h2>
    <p>
        You can style a button to appear "pressed" by appending the {{code "pure-button-active"}} class name to any {{code "<a>"}} or {{code "<button>"}} element that has the {{code "pure-button"}} class name.
    </p>

  {{#prefixIds "active"}}
    {{> buttons/active}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/active}}
  {{/code}}

    <h2 class="content-subhead">Primary Buttons</h2>
    <p>
        Make a primary button by appending the {{code "pure-button-primary"}} class name to any {{code "<a>"}} or {{code "<button>"}} element that has the {{code "pure-button"}} class name.
    </p>

  {{#prefixIds "primary"}}
    {{> buttons/primary}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/primary}}
  {{/code}}



    <h2 class="content-subhead">Customizing Buttons</h2>
    <p>
        Pure Buttons makes it easy for your buttons to look identical, whether they are defined using {{code "<a>"}} or {{code "<button>"}} elements. By keeping the styles minimal, we make it easy for you to customize buttons for your own application.
    </p>

    <p>
        To customize button styles, we recommend grouping your styles into a class such as {{code "pure-button-foo"}}. Then, append this class name to an element that already has the {{code "pure-button"}} class name. Here are some examples.
    </p>

    <h3 class="content-subhead">Colored buttons with rounded corners</h3>

  {{#prefixIds "primary"}}
    {{> buttons/colors}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/colors}}
  {{/code}}


    <h3 class="content-subhead">Buttons with different sizes</h3>

  {{#prefixIds "primary"}}
    {{> buttons/sizes}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/sizes}}
  {{/code}}


    <h3 class="content-subhead">Buttons with icons</h3>

  {{#prefixIds "primary"}}
    {{> buttons/icons}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/icons}}
  {{/code}}



</div>
