{{setTitle     "Customize"}}
{{setSubTitle  "Choose the modules that you need."}}
{{setActiveNav "customize"}}

{{addLocalCSS "/css/customize.css"}}

{{> header}}

<div class="content">

    {{sectionHeading "Rollups"}}
    <p>
        Rollups consist of all the modules in Pure. There are two rollups available - a regular (responsive) one, and a non-responsive one. Choose that one that's right for your project.
    </p>

    <div class="table-responsive">
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Size (gzip)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Responsive Rollup</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/pure-min.css</td>
                    <td>{{fileSize "pure"}}</td>
                </tr>
                <tr>
                    <td>Non-Responsive Rollup</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/pure-nr-min.css</td>
                    <td>{{fileSize "pure-nr"}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Alternate CDNs</h3>
    <p>
        The main host for Pure is the Yahoo! CDN where Pure is available over HTTP and individual modules can be combined together in a single combo request. The following table lists alternate CDNs where Pure is hosted.
    </p>

    <div class="table-responsive">
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>CDN</th>
                    <th>URL</th>
                    <th>HTTPS</th>
                    <th>Combo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="http://www.jsdelivr.com/">jsDelivr</a></td>
                    <td>//cdn.jsdelivr.net/pure/{{pure.version}}/pure-min.css</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><a href="http://cdnjs.com/">cdnjs</a></td>
                    <td>//cdnjs.cloudflare.com/ajax/libs/pure/{{pure.version}}/pure-min.css</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="http://www.osscdn.com/">OSS MaxCDN</a></td>
                    <td>//oss.maxcdn.com/libs/pure/{{pure.version}}/pure-min.css</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="http://www.staticfile.org/">Staticfile</a></td>
                    <td>http://cdn.staticfile.org/pure/{{pure.version}}/pure-min.css</td>
                    <td>No</td>
                    <td>No</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p>
        <b>Note:</b> If the latest version of Pure is not yet on one of the alternate CDNs, please contact them to update to the latest version of Pure: <b>{{pure.version}}</b>.
    </p>

    {{sectionHeading "Individual Modules"}}
    <p>
        You can also pull in the following modules individually.
    </p>

    <div class="table-responsive">
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Base</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/base-min.css</td>
                </tr>
                <tr>
                    <td>Buttons</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/buttons-min.css</td>
                </tr>
                <tr>
                    <td>Forms (Responsive)</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/forms-min.css</td>
                </tr>
                <tr>
                    <td>Forms (Non-Responsive)</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/forms-nr-min.css</td>
                </tr>
                <tr>
                    <td>Grids (Responsive)</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/grids-min.css</td>
                </tr>
                <tr>
                    <td>Grids (Non-Responsive)</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/grids-nr-min.css</td>
                </tr>
                <tr>
                    <td>Menus (Responsive)</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/menus-min.css</td>
                </tr>
                <tr>
                    <td>Menus (Non-Responsive)</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/menus-nr-min.css</td>
                </tr>
                <tr>
                    <td>Tables</td>
                    <td>http://yui.yahooapis.com/pure/{{pure.version}}/tables-min.css</td>
                </tr>
            </tbody>
        </table>
    </div>

    {{sectionHeading "Combo Handling"}}
    <p>
        Combo handling is a service where one or more modules can be loaded using a single HTTP request. They are essentially dynamic rollups that are cacheable by CDNs.
    </p>
    <p>
         Here's an example of a Yahoo! CDN combo URL that includes CSS for <a href="{{pathTo 'base'}}">Base</a>, <a href="{{pathTo 'grids'}}">Grids</a>, and <a href="{{pathTo 'forms'}}">Forms</a>:
    </p>

    {{#code}}
        <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/{{pure.version}}/base-min.css&pure/{{pure.version}}/grids-min.css&pure/{{pure.version}}/forms-min.css">
    {{/code}}

    <p>
        jsDelivr is an alternative CDN that supports combo handling. Here's an example of a combo URL that includes the same CSS <a href="{{pathTo 'base'}}">Base</a>, <a href="{{pathTo 'grids'}}">Grids</a>, and <a href="{{pathTo 'forms'}}">Forms</a> as above.
    </p>

    {{#code}}
        <link rel="stylesheet" href="//cdn.jsdelivr.net/g/pure@{{pure.version}}(base-min.css+grids-min.css+forms-min.css)">
    {{/code}}

    <p>
         See the <a href="https://github.com/jsdelivr/jsdelivr#load-multiple-files-with-single-http-request">jsDelivr combo handler documentation</a> to learn more about its features.
    </p>

    {{sectionHeading "Skinning"}}
    <p>
        Pure comes with a minimalistic style that allows you to customize it with your own CSS. The <a href="https://git.corp.yahoo.com/pages/yui/skinbuilder/">YUI Skin Builder</a> is a great tool to use if you need help developing a theme. With a single click, the Skin Builder is able to generate all the CSS necessary to theme Pure.
    </p>

    <p>
        <a href="http://yui.github.io/skinbuilder/?mode=pure" class="pure-button">Launch Skin Builder</a>
    </p>

    {{sectionHeading "Contribute on GitHub"}}
    <p>
        Pure is an open-source project under the BSD License. We welcome issues, pull requests, and feedback. Check out our <a href="https://github.com/yui/pure">repo on GitHub</a>.
    </p>

</div>
