{{setTitle     "Customize"}}
{{setSubTitle  "Choose the modules that you need"}}
{{setActiveNav "customize"}}


{{> header}}

<div class="content">

    <h2 class="content-subhead">Rollups</h2>
    <p>
        Rollups consist of all the modules in Pure. There are two rollups available - a regular (responsive) one, and a non-responsive one. Choose that one that's right for your project.
    </p>

    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>CSS URL</th>
                <th>Size (gzipped)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Responsive Rollup</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/pure-min.css</td>
                <td>3.84 KB</td>
            </tr>
            <tr>
                <td>Non-Responsive Rollup</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/pure-nr-min.css</td>
                <td>3.62 KB</td>
            </tr>
        </tbody>
    </table>


    <h2 class="content-subhead">Individual Modules</h2>
    <p>
        You can also pull in the modules individually. The Yahoo CDN supports combo handling, so you can combo your requests and get a single CSS file back.
    </p>

    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>CSS URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Base</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/base-min.css</td>
            </tr>
            <tr>
                <td>Buttons</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/buttons-min.css</td>
            </tr>
            <tr>
                <td>Forms (Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/forms-min.css</td>
            </tr>
            <tr>
                <td>Forms (Non-Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/forms-nr-min.css</td>
            </tr>
            <tr>
                <td>Grids (Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/grids-min.css</td>
            </tr>
            <tr>
                <td>Grids (Non-Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/grids-nr-min.css</td>
            </tr>
            <tr>
                <td>Menus (Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/menus-min.css</td>
            </tr>
            <tr>
                <td>Menus (Non-Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/menus-nr-min.css</td>
            </tr>
            <tr>
                <td>Tables</td>
                <td>http://yui.yahooapis.com/pure/{{pure.version}}/tables-min.css</td>
            </tr>
        </tbody>
    </table>

    <h2 class="content-subhead">Skinning</h2>
    <p>
        Pure comes with a minimalistic style that allows you to customize it with your own CSS. The <a href="https://git.corp.yahoo.com/pages/yui/skinbuilder/">YUI Skin Builder</a> is a great tool to use if you need help developing a theme. With a single click, the Skin Builder is able to generate all the CSS necessary to theme Pure.
    </p>

    <p>
        <a href="https://git.corp.yahoo.com/pages/yui/skinbuilder/" class="pure-button">Launch Skin Builder</a>
    </p>

    <h2 class="content-subhead">Contribute on Github</h2>
    <p>
        Pure is an open-source project under the BSD License. We welcome issues, pull requests, and feedback. Check out our <a href="https://github.com/yui/pure">repo on Github</a>.
    </p>

</div>
