{{setTitle     "Customize"}}
{{setSubTitle  "Choose the modules that you need."}}
{{setActiveNav "customize"}}

{{addLocalCSS "/css/customize.css"}}

{{> header}}

<div class="content">

    {{sectionHeading "Rollups"}}
    <p>
        Rollups consist of all the modules in Pure. There are two rollups available - a regular (responsive) one, and a non-responsive one. Choose that one that's right for your project.
    </p>

    <div class="table-responsive">
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Size (gzip)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Responsive Rollup</td>
                    <td>https://unpkg.com/purecss@{{pure.version}}/build/pure-min.css</td>
                    <td>{{fileSize "pure"}}</td>
                </tr>
                <tr>
                    <td>Non-Responsive Rollup</td>
                    <td>https://unpkg.com/purecss@{{pure.version}}/build/pure-nr-min.css</td>
                    <td>{{fileSize "pure-nr"}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <aside>
        <p>
            The non-responsive rollup does not include media queries, thus making it easier for you to override styles in the base library. Additionally, you can also create a <a href="{{pathTo 'grids'}}#pure-responsive-grids">custom grid</a> that better suits your projects needs.
        </p>
    </aside>

    <h3>Alternate CDNs</h3>
    <p>
        The main host for Pure is the unpkg CDN where Pure is available over HTTPS. The following table lists alternate CDNs where Pure is hosted.
    </p>

    <div class="table-responsive">
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>CDN</th>
                    <th>URL</th>
                    <th>HTTPS</th>
                    <th>Combo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="http://cdnjs.com/">cdnjs</a></td>
                    <td>//cdnjs.cloudflare.com/ajax/libs/pure/{{pure.version}}/pure-min.css</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="http://www.jsdelivr.com/">jsDelivr</a></td>
                    <td>//cdn.jsdelivr.net/npm/purecss@{{pure.version}}/build/pure-min.css</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><a href="https://www.keycdn.com/">KeyCDN</a></td>
                    <td>//opensource.keycdn.com/pure/{{pure.version}}/pure-min.css</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="http://www.osscdn.com/">OSS MaxCDN</a></td>
                    <td>//oss.maxcdn.com/libs/pure/{{pure.version}}/pure-min.css</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="http://rawgit.com/">RawGit</a></td>
                    <td>//cdn.rawgit.com/yahoo/pure-release/v{{pure.version}}/pure-min.css</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="http://www.staticfile.org/">Staticfile</a></td>
                    <td>//cdn.staticfile.org/pure/{{pure.version}}/pure-min.css</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p>
        <b>Note:</b> If the latest version of Pure is not yet on one of the alternate CDNs, please contact them to update to the latest version of Pure: <b>{{pure.version}}</b>.
    </p>

    {{sectionHeading "Individual Modules"}}
    <p>
        You can also pull in the following modules individually.
    </p>

    <div class="table-responsive">
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Base</td>
                    <td>https://unpkg.com/purecss@{{pure.version}}/build/base-min.css</td>
                </tr>
                <tr>
                    <td>Buttons</td>
                    <td>https://unpkg.com/purecss@{{pure.version}}/build/buttons-min.css</td>
                </tr>
                <tr>
                    <td>Forms (Responsive)</td>
                    <td>https://unpkg.com/purecss@{{pure.version}}/build/forms-min.css</td>
                </tr>
                <tr>
                    <td>Forms (Non-Responsive)</td>
                    <td>https://unpkg.com/purecss@{{pure.version}}/build/forms-nr-min.css</td>
                </tr>
                <tr>
                    <td>Grids (Base)</td>
                    <td>https://unpkg.com/purecss@{{pure.version}}/build/grids-min.css</td>
                </tr>
                <tr>
                    <td>Grids (Responsive)</td>
                    <td>https://unpkg.com/purecss@{{pure.version}}/build/grids-responsive-min.css</td>
                </tr>
                <tr>
                    <td>Menus (Responsive)</td>
                    <td>https://unpkg.com/purecss@{{pure.version}}/build/menus-min.css</td>
                </tr>
                <tr>
                    <td>Tables</td>
                    <td>https://unpkg.com/purecss@{{pure.version}}/build/tables-min.css</td>
                </tr>
            </tbody>
        </table>
    </div>

    {{sectionHeading "Combo Handling"}}
    <p>
        jsDelivr is a CDN that supports combo handling. Here's an example of a combo URL that includes the same CSS <a href="{{pathTo 'base'}}">Base</a>, <a href="{{pathTo 'grids'}}">Grids</a>, and <a href="{{pathTo 'forms'}}">Forms</a> as above.
    </p>

    {{#code}}
        <link rel="stylesheet" href="//cdn.jsdelivr.net/combine/npm/purecss@{{pure.version}}/build/base-min.css,npm/purecss@{{pure.version}}/build/grids-min.css,npm/purecss@{{pure.version}}/build/forms-min.css">
    {{/code}}

    <p>
         See the <a href="https://github.com/jsdelivr/jsdelivr#combine-multiple-files">jsDelivr combo handler documentation</a> to learn more about its features.
    </p>

    {{sectionHeading "Using Pure with Google AMP"}}
    <p>
        Google's <a href="https://www.ampproject.org/">Accelerated Mobile Pages</a> (AMP) allow web pages to get pre-rendered on Google at the cost of restrictions on JS and [CSS](https://www.ampproject.org/docs/guides/responsive/style_pages#disallowed-styles), such as completely inlining all styles rather than using stylesheets in external files such as those hosted at the CDNs mentioned above. Furthermore, AMP disallows some CSS functionality. In Pure, the only bit currently used disallowed by AMP is '!important', currently used in the definition of the '.hidden' helper class. Removing this modifier should suffice to render Pure usable with AMP.
    </p>

    {{sectionHeading "Contribute on GitHub"}}
    <p>
        Pure is an open-source project under the BSD License. We welcome issues, pull requests, and feedback. Check out our <a href="https://github.com/yahoo/pure">repo on GitHub</a>.
    </p>

</div>
