{{setTitle     "Forms"}}
{{setSubTitle  "Simple CSS for HTML Forms"}}
{{setActiveNav "forms"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">Default Form</h2>
    <p>
        A default inline form can be created by adding the {{code "pure-form"}} to any {{code "<form>"}} element. This creates an inline form.
    </p>

  {{#prefixIds "default"}}
    {{> forms/default}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/default}}
  {{/code}}


    <h2 class="content-subhead">Multi-Column Form (with Pure Grids)</h2>
    <p>
        Multi-column forms such as the one below can be created by pulling down Pure Grids. In this example, we're using Pure Grids with a stacked form.
    </p>

  {{#prefixIds "multi"}}
    {{> forms/multi}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/multi}}
  {{/code}}


    <h2 class="content-subhead">Stacked Form</h2>
    <p>
        A stacked form has its input elements below the labels. Apply this style by adding the {{code "pure-form-stacked"}} class-name on a {{code "<form>"}} element in addition to {{code "pure-form"}}.
    </p>

  {{#prefixIds "stacked"}}
    {{> forms/stacked}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/stacked}}
  {{/code}}


    <h2 class="content-subhead">Aligned Form</h2>
    <p>
        Aligned forms are great for standard forms that look well-aligned. The labels are right-aligned against the form input controls, but re-align to be standard left-aligned forms on smaller screens. Apply the {{code "pure-form-aligned"}} class to your {{code "<form>"}} element.
    </p>

  {{#prefixIds "aligned"}}
    {{> forms/aligned}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/aligned}}
  {{/code}}


    <h2 class="content-subhead">Grouped Inputs</h2>
    <p>
        Grouped inputs are great for grouping small sets of text-based input elements. They work well for sign-up forms, and look natural on mobile devices.
    </p>

  {{#prefixIds "grouped"}}
    {{> forms/grouped}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/grouped}}
  {{/code}}


    <h2 class="content-subhead">Input Sizing</h2>
    <p>
        Input elements have fluid width sizes in a syntax that is similar to Pure Grids. You can apply a {{code "pure-input-*"}} class to these elements.
    </p>

  {{#prefixIds "input-size"}}
    {{> forms/input-size}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/input-size}}
  {{/code}}

    <p>
        Another way of sizing inputs is to wrap them in grid containers. This lets you customize your input sizing even more. In the example below, the {{code "<input>"}} elements have a {{code "pure-input-1"}} class, but are wrapped in a {{code "<div>"}} with a specific grid class.
    </p>

  {{#prefixIds "input-grid"}}
    {{> forms/input-grid}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/input-grid}}
  {{/code}}


    <h2 class="content-subhead">Invalid Inputs</h2>
    <p>
        Add the {{code "required"}} attribute to any form control.
    </p>

  {{#prefixIds "invalid"}}
    {{> forms/invalid}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/invalid}}
  {{/code}}


    <h2 class="content-subhead">Disabled Inputs</h2>
    <p>
        Add the {{code "disabled"}} attribute to any form control.
    </p>

  {{#prefixIds "disabled"}}
    {{> forms/disabled}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/disabled}}
  {{/code}}


    <h2 class="content-subhead">Rounded Inputs</h2>
    <p>
        Add the {{code "pure-input-rounded"}} classname to any form control.
    </p>

  {{#prefixIds "rounded"}}
    {{> forms/rounded}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/rounded}}
  {{/code}}


    <h2 class="content-subhead">Checkboxes and Radios</h2>
    <p>
        Pure Forms normalizes and aligns checkboxes and radio inputs for you too. Just add the {{code "pure-checkbox"}} or {{code "pure-radio"}} classname to these controls.
    </p>

  {{#prefixIds "checkbox-radio"}}
    {{> forms/checkbox-radio}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/checkbox-radio}}
  {{/code}}
</div>
