{{setTitle     "Pure"}}
{{setSubTitle  "A set of very small, responsive CSS modules that you can use in every web project."}}
{{setActiveNav "home"}}

{{addLocalCSS "/css/home.css" hasOldIE=true}}

<div class="hero">
    <div class="hero-titles">
        <img class="logo" src="img/logo_pure@2x.png" alt="{{title}}">
        <h2 class="hero-tagline">{{subTitle}}</h2>
    </div>

    <div class="hero-cta">
        <div class="is-code-full">
          {{#code wrap=true}}
            <link rel="stylesheet" href="https://unpkg.com/purecss@{{pure.version}}/build/pure-min.css" integrity="sha384-{{pure.sriHash}}" crossorigin="anonymous">
          {{/code}}
        </div>

        <p>
            <a class="button-cta pure-button" href="{{pathTo 'start'}}">Get Started</a>
            <a class="button-secondary pure-button" href="https://github.com/pure-css/pure/">View on GitHub</a>
        </p>
    </div>
</div>

<div class="marketing">
    <div class="size-chart pure-g">
      {{#each pure.modules}}
        <div class="size-chart-{{this}} pure-u" style="width: {{filePercent this pure=../pure}};">
            <a class="size-chart-item" href="{{pathTo this}}">
                <span class="size-chart-label">
                    <span class="size-chart-mod">{{this}}</span>
                    <span class="size-chart-size">{{fileSize this pure=../pure}}</span>
                </span>
            </a>
        </div>
      {{/each}}
    </div>

    <div class="content">
        <h3 class="marketing-header">CSS with a minimal footprint.</h3>
        <p>
            Pure is ridiculously tiny. The entire set of modules clocks in at <b>{{fileSize "pure"}}* minified and gzipped</b>. Crafted with mobile devices in mind, it was important to us to keep our file sizes small, and every line of CSS was carefully considered. If you decide to only use a subset of these modules, you'll save even more bytes.
        </p>

        <p style="font-size:smaller;">
            * We can add correctly :) the numbers above are individual module sizes; when grouped together they compress (gzip) even more.
        </p>
    </div>
</div>

<div class="marketing l-wrap pure-g">
    <div class="content pure-u-1 u-sm-1-2 u-xl-1-3">
        <h3 class="marketing-header">Your CSS foundation.</h3>
        <p>
            Pure builds on <a href="http://necolas.github.io/normalize.css/">Normalize.css</a> and provides layout and styling for native HTML elements, plus the most common UI components. It's what you need, without the cruft.
        </p>
    </div>

    <div class="content pure-u-1 u-sm-1-2 u-xl-1-3">
        <h3 class="marketing-header">Made with mobile in mind.</h3>
        <p>
            Pure is responsive out of the box, so elements look great on all screen sizes.
        </p>
    </div>

    <div class="content pure-u-1 u-lg-3-4 u-xl-1-3">
        <h3 class="marketing-header">Stays out of your way.</h3>
        <p>
            Pure has minimal styles and encourages you to write your application styles on top of it. It's designed to get out of your way and makes it easy to override styles.
        </p>
    </div>
</div>

<div class="marketing l-wrap pure-g">
    <div class="marketing-diagram content pure-u-1 u-sm-2-3 u-md-1-2">
        <a href="{{pathTo 'layouts'}}">
            <img src="img/layout-icon.jpg" class="pure-img-responsive" alt="Diagram of a sample layout.">
        </a>
    </div>

    <div class="content pure-u-1 u-md-1-2">
        <h3 class="marketing-header">Create responsive layouts.</h3>
        <p>
            By using <a href="{{pathTo 'grids'}}">Grids</a>, <a href="{{pathTo 'menus'}}">Menus</a>, and more, it's easy to create beautiful responsive layouts for all screen sizes. We've made it easy for you to get started. Take a look at a few different <a href="{{pathTo 'layouts'}}">layouts</a> and start your next web project with a rock-solid foundation.
        </p>

        <p>
            <a href="{{pathTo 'layouts'}}" class="pure-button">View Layouts</a>
        </p>
    </div>
</div>

<div class="marketing marketing-customize l-wrap pure-g">
    <div class="content pure-u-1 u-md-1-2">
        <h3 class="marketing-header">Create your own look and feel.</h3>
        <p>
            Unlike other frameworks, Pure's design is unopinionated, minimal and flat. We believe that it's much easier to add new CSS rules than to overwrite existing rules. By adding a few lines of CSS, you can customize Pure's appearance to work with your web project.
        </p>

        <p>
            <a href="{{pathTo 'extend'}}" class="pure-button">Extend Pure</a>
        </p>
    </div>

    <div class="sample-buttons content pure-u-1 u-md-1-2">
        <div class="pure-g">
            <span class="sample-button pure-u-1-2 u-sm-1-3">
                <button class="pure-button">Default</button>
            </span>

            <span class="sample-button pure-u-1-2 u-sm-1-3">
                <button class="button-a pure-button">Blue</button>
            </span>

            <span class="sample-button pure-u-1-2 u-sm-1-3">
                <button class="button-b pure-button">Yellow</button>
            </span>

            <span class="sample-button pure-u-1-2 u-sm-1-3">
                <button class="button-c pure-button">Black</button>
            </span>

            <span class="sample-button pure-u-1-2 u-sm-1-3">
                <button class="button-d pure-button">Green</button>
            </span>

            <span class="sample-button pure-u-1-2 u-sm-1-3">
                <button class="button-e pure-button">Red</button>
            </span>

            <span class="sample-button pure-u-1-2 u-sm-1-3">
                <button class="button-f pure-button">Purple</button>
            </span>

            <span class="sample-button pure-u-1-2 u-sm-1-3">
                <button class="button-g pure-button">Orange</button>
            </span>

            <span class="sample-button pure-u-1 u-sm-1-3">
                <button class="button-h pure-button">Indigo</button>
            </span>
        </div>
    </div>
</div>
