{{setTitle     "YUI CSS"}}
{{setSubTitle  "A set of small, responsive CSS modules that you can use in every web project."}}
{{setActiveNav "home"}}

{{addLocalCSS "/css/home.css"}}

<div class="hero">
    <h1 class="yui3-u-1">{{title}}</h1>
    <h2 class="yui3-u-3-4 l-centered">{{subTitle}}</h2>

    <div class="yui3-u-1">
        <a href="#" class="yui3-button plain-button">Try it now</a>
    </div>
    
</div>


<div class="yui3-g-r">
    <div class="yui3-u-1-3">
        <div class="l-box">
            <h3>A CSS Foundation</h3>
            <p>YUI CSS builds on normalize.css and provides layout and styling for native HTML elements, plus the most common UI components. It's what you need, without the cruft.</p>
        </div>
    </div>

    <div class="yui3-u-1-3">
        <div class="l-box">
            <h3>Responsive and Customizable</h3>
            <p>YUI CSS is built with different screen sizes in mind, so elements look great on phones, tablets and laptops. Customize your styles with the SkinBuilder so that your site or app looks unique.</p>
        </div>
    </div>

    <div class="yui3-u-1-3">
        <div class="l-box">
            <h3>Stays out of your way.</h3>
            <p>YUI CSS has minimal styles and encourages you to write your application styles on top of it. It's designed to get out of your way and makes it easy to override styles.</p>
        </div>
    </div>
</div>
