{{setTitle     "Layouts"}}
{{setSubTitle  "Quickstart your next web project with these example layouts."}}
{{setActiveNav "layouts"}}

{{addLocalCSS "/css/layouts.css"}}

{{> header}}

<div class="content">
    {{sectionHeading "Common Layouts"}}
    <p>
        Pure was crafted with the goal that it can be used in every web project. To showcase this, we've made some common layouts that leverage Pure. These layouts are responsive and don't use any JavaScript.
    </p>

    <aside>
        <p>
            When viewing these layouts, view or copy the source to get a good understanding of what's happening.
        </p>
    </aside>


    <div class="layout-item pure-g-r">
        <div class="pure-u-1-2">
            <a href="{{pathTo 'layout' layout='marketing'}}">
                <img src="/img/layouts/marketing@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of Landing Page example layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">Landing Page</h3>

                <p>
                    This layout shows off a responsive product landing page. It leverages <a href="{{pathTo 'grids'}}">Grids</a> and <a href="{{pathTo 'menus'}}">Menus</a>.
                </p>

                <p><a href="{{pathTo 'layout' layout='marketing'}}" class="pure-button">View Layout</a></p>
            </div>
        </div>
    </div>


    <div class="layout-item pure-g-r">
        <div class="pure-u-1-2">
            <a href="{{pathTo 'layout' layout='gallery'}}">
                <img src="/img/layouts/gallery@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of Photo Gallery example layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">Photo Gallery</h3>

                <p>
                    This layout shows off a responsive photo gallery. It leverages <a href="{{pathTo 'grids'}}">Grids</a>, <a href="{{pathTo 'menus'}}">Menus</a>, and <a href="{{pathTo 'forms'}}">Forms</a>.
                </p>

                <p><a href="{{pathTo 'layout' layout='gallery'}}" class="pure-button">View Layout</a></p>
            </div>
        </div>
    </div>


    <div class="layout-item pure-g-r">
        <div class="pure-u-1-2">
            <a href="{{pathTo 'layout' layout='email'}}">
                <img src="/img/layouts/email@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of an example Email app layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">Email</h3>

                <p>
                    This layout shows off a responsive email layout. It leverages <a href="{{pathTo 'grids'}}">Grids</a> and <a href="{{pathTo 'menus'}}">Menus</a>.
                </p>

                <p><a href="{{pathTo 'layout' layout='email'}}" class="pure-button">View Layout</a></p>
            </div>
        </div>
    </div>


    <div class="layout-item pure-g-r">
        <div class="pure-u-1-2">
            <a href="{{pathTo 'layout' layout='blog'}}">
                <img src="/img/layouts/blog@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of a blog example layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">Blog</h3>

                <p>
                    This layout shows off a blog page with a list of posts. It leverages <a href="{{pathTo 'grids'}}">Grids</a>, <a href="{{pathTo 'menus'}}">Menus</a>, and <a href="{{pathTo 'buttons'}}">Buttons</a>.
                </p>

                <p><a href="{{pathTo 'layout' layout='blog'}}" class="pure-button">View Layout</a></p>
            </div>
        </div>
    </div>


    <div class="layout-item pure-g-r">
        <div class="pure-u-1-2">
            <a href="{{pathTo 'layout' layout='pricing'}}">
                <img src="/img/layouts/pricing@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of a pricing table layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">Pricing Table</h3>

                <p>
                    This layout shows off a responsive pricing table. It leverages <a href="{{pathTo 'grids'}}">Grids</a>, <a href="{{pathTo 'menus'}}">Menus</a>, and <a href="{{pathTo 'buttons'}}">Buttons</a>.
                </p>

                <p><a href="{{pathTo 'layout' layout='pricing'}}" class="pure-button">View Layout</a></p>
            </div>
        </div>
    </div>
</div>
