{{setTitle     "Layouts"}}
{{setSubTitle  "Quickstart your next web project"}}
{{setActiveNav "layouts"}}

{{addCdnCSS yui.version "cssgrids-responsive"}}
{{addCdnCSS yui.version "cssbutton"}}
{{addLocalCSS "/css/layouts.css"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">Common Layouts</h2>

    <p>
        YUI CSS was crafted with the goal that it can be used in every web project. To showcase this, we've made some common layouts that leverage YUI CSS. These layouts are responsive, and don't use any JavaScript.
    </p>

    <aside>
        <p>When viewing these layouts, view or copy the source to get a good understanding of what's happening.</p>
    </aside>

    <div class="yui3-g-r layout-item">

        <div class="yui3-u-1-2">
            <a href="./marketing/"><img class="bordered" src="/img/layouts/marketing@2x.jpg" width="400" height="214"></a>
        </div>
        <div class="yui3-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">Landing Page</h3>
                <p>This layout shows off a responsive landing page for a possible product. It leverages CSS for <a href="./grids/">Grids</a> and <a href="./lists">Lists</a>.</p>

                <p><a href="./marketing/" class="yui3-button">View Layout</a>
            </div>
        </div>
    </div>

    <div class="yui3-g-r layout-item">
        <div class="yui3-u-1-2">
            <a href="./gallery/"><img class="bordered" src="/img/layouts/gallery@2x.jpg" width="400" height="214"></a>
        </div>
        <div class="yui3-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">Photo Gallery</h3>
                <p>This layout shows off a responsive photo gallery. It leverages <a href="./grids/">Grids</a>, <a href="./lists/">Lists</a>, and <a href="./forms/">Forms</a>.</p>

                <p><a href="./gallery/" class="yui3-button">View Layout</a>
            </div>
        </div>
    </div>

</div>









