{{setTitle     "Lists"}}
{{setSubTitle  "Simple CSS for HTML Lists"}}
{{setActiveNav "lists"}}

{{addGithubCSS "tilomitra" "csslist" "master/css/list-paginator.css"}}
{{addLocalCSS "/css/lists.css"}}

{{> header}}

<!-- adding to the top so that the dropdown example code can run -->
<script src="http://yui.yahooapis.com/{{yui.version}}/build/yui/yui{{min}}.js"></script>

<div class="content">
    <h2 class="content-subhead">Include the CSS on your page</h2>
    <p>
        You can pull down CSSList from the YUI Gallery. Just include this {{code "<link>"}} element in your {{code "<head>"}}.
    </p>

  {{#code}}
    <link rel="stylesheet" href="http://yui.yahooapis.com/{{yui.gallery}}/build/gallerycss-csslist/gallerycss-csslist-min.css">
  {{/code}}


    <h2 class="content-subhead">Horizontal Menu</h2>
    <p>
        Create horizontal menus by adding the {{code "yui3-menu-horizontal"}} class name. You can mark the active list element by adding the {{code "yui3-menu-active"}} class to the list element.
    </p>

    {{> lists/horizontal}}

  {{#code}}
    {{> lists/horizontal}}
  {{/code}}

    <h2 class="content-subhead">Menu with Headings</h2>
    <p>
        You can add headings to your menu by adding an {{code "<a>"}} element with the {{code "yui3-menu-heading"}} class name. This element should be inserted outside the {{code "<ul>"}} element. 
    </p>

    {{> lists/heading}}

  {{#code}}
    {{> lists/heading}}
  {{/code}}


    <h2 class="content-subhead">Vertical Menu</h2>
    <p>
        Menus are vertical by default. Just add the {{code "yui3-menu"}} class to style the menu, and the {{code "yui3-menu-open"}} class to ensure that it is visible.
    </p>

    {{> lists/vertical}}

  {{#code}}
    {{> lists/vertical}}
  {{/code}}


    <h2 class="content-subhead">Add Dropdowns to Menus</h2>
    <p>
        Adding dropdowns to menus requires the use of JavaScript. The {{code "Y.Menu"}} module adds dropdown functionality and the ability to create JavaScript menus.
    </p>

    {{> lists/dropdown}}

  {{#code}}
    {{> lists/dropdown}}
  {{/code}}

    <h2 class="content-subhead">Menus with Disabled Items</h2>
    <p>
        You can add disabled links to your menu by adding an {{code "<a>"}} element with the {{code "yui3-menu-disabled"}} class name. Disabled items do not inherit hover styles, and appear faded. 
    </p>

    {{> lists/disabled}}

  {{#code}}
    {{> lists/disabled}}
  {{/code}}


    <h2 class="content-subhead">Paginators</h2>
    <p>
        Paginators are list-based elements too! You can implement a paginator control by adding the {{code "yui3-paginator"}} classname to a {{code "<ul>"}} element. Paginator controls generally look like buttons, but omit the {{code "yui3-button"}} class name if you want simple paginators.
    </p>

    {{> lists/paginator}}

  {{#code}}
    {{> lists/paginator}}
  {{/code}}
</div>
