{{setTitle     "Menus"}}
{{setSubTitle  "Simple CSS for menus."}}
{{setActiveNav "menus"}}

{{addLocalCSS "/css/menus.css"}}
{{addLocalJS "/js/menus.js"}}

{{> header}}

<div class="content">

    {{sectionHeading "Vertical Menu"}}
    <p>
        Menus are vertical by default. Minimal default styling and low-specificity
        selectors make them easy to customize. By default, menu items take up
        100% of the width of their container, so you may want to limit the menu
        width or set the menu to display:inline-block.
    </p>

    {{> menus/vertical}}

    {{#code}}
      {{> menus/vertical}}
    {{/code}}


    {{sectionHeading "Horizontal Menu"}}
    <p>
        To create a horizontal menu, add the {{code "pure-menu-horizontal"}} class name.
    </p>

    {{> menus/horizontal}}

    {{#code}}
      {{> menus/horizontal}}
    {{/code}}

    {{sectionHeading "Selected and Disabled Items"}}
    <p>
        Mark a selected list element by adding the {{code "pure-menu-selected"}} class to the list element. To mark a link as disabled, add an {{code "<a>"}} element with the {{code "pure-menu-disabled"}} class name. Disabled items appear faded and do not inherit hover styles.
    </p>

    {{> menus/disabled}}

    {{#code}}
      {{> menus/disabled}}
    {{/code}}


    {{sectionHeading "Dropdowns"}}
    <p>
        Adding dropdowns to menus requires JavaScript for .
        <a href="/js/menus.js">An example script</a>
        written with vanilla JS provides ARIA support, keyboard navigation, and
        the ability to dismiss the menu with an outside event or the ESC key.
    </p>
    <p>You still might want to display submenus on hover. Just add
    {{code "pure-menu-allow-hover"}} to the {{code "pure-menu-has-children"}} list item.
    </p>

    {{> menus/dropdown}}

    {{#code}}
      {{> menus/dropdown}}
    {{/code}}


    {{sectionHeading "Submenus"}}

    <p>The same construct used to create dropdowns works in vertical menus as well.</p>

    {{> menus/submenu}}

    {{#code}}
      {{> menus/submenu}}
    {{/code}}

    {{sectionHeading "Scrollable Horizontal Menu"}}
    <p>
        To create a scrollable horizontal menu, add the {{code "pure-menu-scrollable"}} class name. When
        there isn't enough room, the menu items can be scrolled or flicked. Dropdown menus are not supported.
    </p>

    {{> menus/horizontal-scroll}}

    {{#code}}
      {{> menus/horizontal-scroll}}
    {{/code}}

    {{sectionHeading "Scrollable Vertical Menu"}}
    <p>
        To create a scrollable vertical menu, limit the height of your menu, and then add the {{code "pure-menu-scrollable"}} class name. The menu items can be scrolled or flicked. Submenus are not supported.
    </p>

    {{> menus/vertical-scroll}}

    {{#code}}
      {{> menus/vertical-scroll}}
    {{/code}}

    {{sectionHeading "Responsive Menus That Hide"}}
    <p>
        Check out our <a href="/layouts/">Layout Examples</a> to see how you can use
        Pure as a foundation for more complex menus, such as:
    </p>

    <ul>
        <li><a href="/layouts/side-menu/">Responsive Vertical Menu</a>, which
        collapses behind a hamburger,
        similar to the menu on this Pure website.</li>
        <li><a href="/layouts/tucked-menu/">Responsive Horizontal-Scrollable Menu</a>,
        which tucks out of the way on small screens.</li>
        <li><a href="/layouts/tucked-menu-vertical/">Responsive Horizontal-to-Vertical Menu</a>,
        which slides out of view.</li>
    </ul>

</div>

{{> prevent-scroll}}
