{{setTitle     "Menus"}}
{{setSubTitle  "Simple CSS for Menus"}}
{{setActiveNav "menus"}}

{{addLocalCSS "/css/menus.css"}}

{{> header}}

<!-- adding to the top so that the dropdown example code can run -->
<script>
    {{{state}}}
</script>
<script src="http://yui.yahooapis.com/{{yui_version}}/build/yui/yui{{min}}.js"></script>

<div class="content">

    <h2 class="content-subhead">Horizontal Menu</h2>
    <p>
        To create a horizontal menu, add the {{code "pure-menu-horizontal"}} class name. You can mark the active list element by adding the {{code "pure-menu-selected"}} class to the list element.
    </p>

    {{> menus/horizontal}}

  {{#code}}
    {{> menus/horizontal}}
  {{/code}}


    <h2 class="content-subhead">Menu with Headings</h2>
    <p>
        To add headings to your menu, place some content outside the {{code "<ul>"}} element and wrap it in an {{code "<a>"}} element with the {{code "pure-menu-heading"}} class name.
    </p>

    {{> menus/heading}}

  {{#code}}
    {{> menus/heading}}
  {{/code}}


    <h2 class="content-subhead">Vertical Menu</h2>
    <p>
        Menus are vertical by default. You need only add the {{code "pure-menu"}} class to style the menu, and the {{code "pure-menu-open"}} class to ensure that it is visible.
    </p>

    {{> menus/vertical}}

  {{#code}}
    {{> menus/vertical}}
  {{/code}}


    <h2 class="content-subhead">Add Dropdowns to Menus</h2>
    <p>
        Adding dropdowns to menus requires the use of JavaScript. For example, YUI's {{code "Y.Menu"}} module adds dropdown functionality and the ability to create JavaScript menus.
    </p>

    {{> menus/dropdown}}

  {{#code}}
    {{> menus/dropdown}}
  {{/code}}


    <h2 class="content-subhead">Menus with Disabled Items</h2>
    <p>
        To mark a link as disabled, add an {{code "<a>"}} element with the {{code "pure-menu-disabled"}} class name. Disabled items appear faded and do not inherit hover styles.
    </p>

    {{> menus/disabled}}

  {{#code}}
    {{> menus/disabled}}
  {{/code}}


    <h2 class="content-subhead">Paginators</h2>
    <p>
        To create a paginator control, add the {{code "pure-paginator"}} classname to a {{code "<ul>"}} element. For paginator controls that look like buttons, add the {{code "pure-button"}} class name. For a plainer paginator, you can omit this class.
    </p>

    {{> menus/paginator}}

  {{#code}}
    {{> menus/paginator}}
  {{/code}}


  {{> prevent-scroll}}
</div>
