{{setTitle     "Get Started"}}
{{setSubTitle  "Start your next web project with Pure."}}
{{setActiveNav "start"}}
{{setLoadYUI   true}}
{{addLocalCSS  "/css/start.css"}}
{{addLocalJS   "/js/start.js"}}


{{> header}}

<div class="content">
    {{sectionHeading "Add Pure to Your Page"}}

    <p>
        You can add Pure to your page via <b>Yahoo's free CDN</b>. Just add the following {{code "<link>"}} element into your page's {{code "<head>"}}, before your project's stylesheets.
    </p>
</div>

<div class="is-code-full">
  {{#code wrap=true}}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure.version}}/pure-min.css">
  {{/code}}
</div>

<div class="content">
    <aside>
        <p>
            Alternatively, you can <a href="https://github.com/yui/pure-release/archive/v{{pure.version}}.zip">download Pure</a>, or <a href="{{pathTo 'customize'}}">check out other CDNs</a> that host Pure.
        </p>
    </aside>

    {{sectionHeading "Add the Viewport Meta Element"}}

    <p>
        The viewport {{code "meta"}} element lets you control the the width and scale of the viewport on mobile browsers. Since you're building a responsive website, you want the width to be equal to the device's native width. Add this into your page's {{code "<head>"}}.
    </p>
</div>

<div class="is-code-full">
  {{#code wrap=true}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {{/code}}
</div>

<div class="content">
    {{sectionHeading "Understand Pure Grids"}}

    <h3>Default Grids</h3>
    <p>
        Pure's grid system is very simple. You create a row by using the {{code ".pure-g"}} class, and create columns within that row by using the {{code "pure-u-*"}} classes.
    </p>

    <p>Here's a grid with three columns:</p>

  {{#code}}
    {{> grids/intro}}
  {{/code}}
</div>

<div class="grids-example">
    {{> grids/intro}}
</div>

<div class="content">
    <h3>Responsive Grids</h3>
    <p>
        Pure Grids can be extended to become a mobile-first, responsive grid system. You're able to customize the grid by specifying CSS Media Query breakpoints and grid classnames. You can <a href="#cols">customize grids below</a>, but let's start off with an example.
    </p>

    <p>
        Let's say that you specified the following grid:
    </p>

    <div class="table-responsive">
        <table class="mq-table pure-table-bordered pure-table">
            <thead>
                <tr>
                    <th class="highlight">Key</th>
                    <th class="highlight">CSS Media Query</th>
                    <th>Applies</th>
                    <th>Classname</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="highlight"><i>None</i></td>
                    <td class="highlight"><i>None</i></td>
                    <td><i>Always</i></td>
                    <td>{{code ".pure-u-*"}}</td>
                </tr>

              {{#each selectedUnits}}
                <tr>
                    <td class="highlight"><b>{{code @key}}</b></td>
                    <td class="mq-table-mq highlight"><code>@media {{this}}</code></td>
                    <td>≥ <b>{{this.expressions.0.value}}</b></td>
                    <td><code>.pure-u-<b>{{@key}}</b>-*</code></td>
                </tr>
              {{/each}}
            </tbody>
        </table>
    </div>

    <p>
        Here's an example of what you'd be able to do. <i>Try resizing your screen to see how the grid responds.</i>
    </p>
</div>

<div class="grids-example">
    {{> grids/responsive}}
</div>

<div class="content">
    <p>
        The {{code "grid.css"}} that powers the example above is <a href="/start/?med=48em&lrg=60em#css">available here</a>. You can copy and paste it, or <a href="#define-your-custom-grid">define your own custom responsive grid</a> with custom CSS classnames and Media Query breakpoints!
    </p>
</div>

<div class="content">

    {{sectionHeading "Define your Custom Grid"}}
    <p>
        Now that you know how grids work, you can define your own by specifying a few class names and media queries. You can also customize the number of columns that your grid needs.
    </p>
    <p>
        We'll generate a {{code "grid.css"}} file for you based on your requirements that you can download and include in your project.
    </p>

{{> start/grid-input-view}}

<div class="grid-download">
    <aside>
        <p>
            The generated grid CSS below updates in real-time as you customize your grid. When you're ready, just <a class="download-link" href="download/{{query}}">download</a> it.
        </p>
    </aside>
</div>

{{> start/grid-output-view}}

</div>
