{{setTitle     "Get Started"}}
{{setSubTitle  "bla."}}
{{setActiveNav "start"}}
{{setLoadYUI   true}}
{{addLocalCSS  "/css/start.css"}}
{{addLocalJS   "/js/start.js"}}


{{> header}}

<div class="content">
    {{> rows}}
</div>
