{{setTitle     "Get Started"}}
{{setSubTitle  "Start your next web project with Pure."}}
{{setActiveNav "start"}}
{{setLoadYUI   true}}
{{addLocalCSS  "/css/start.css"}}
{{addLocalJS   "/js/start.js"}}


{{> header}}

<div class="content">
    {{sectionHeading "Add Pure to Your Page"}}

    <p>
        You can add Pure to your page via Yahoo's free CDN. Just add the following {{code "<link>"}} element into your page's {{code "<head>"}}, before your project's stylesheets.
    </p>
</div>

<div class="cdn-link">
  {{#code wrap=true}}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure.version}}/pure-min.css">
  {{/code}}
</div>

<div class="content">
    <aside>
        <p>
            Alternatively, you can <a href="https://github.com/yui/pure-release/archive/v{{pure.version}}.zip">download Pure</a>, or <a href="{{pathTo 'customize'}}">check out other CDNs</a> that host Pure.
        </p>
    </aside>


    {{sectionHeading "Customize Your Layout Grid"}}

    <p>
        <b>Pure ships with a 24-column <a href="{{pathTo 'grids'}}">grid system</a>.</b> But your project's design may use a different number of grid columns for layout, no worries you can customize this number.
    </p>
    <p>
        <b>You can create responsive layouts with Pure Grids.</b> By setting a couple options below, CSS rules will be generated, giving you a customized mobile-first responsive grid system for your web project.
    </p>


    {{> start/grid-input-view}}

    {{> start/grid-output-view}}
</div>
