{{setTitle     "Tables"}}
{{setSubTitle  "Simple CSS for HTML Tables"}}
{{setActiveNav "tables"}}


{{> header}}

<div class="content">
    <h2 class="content-subhead">Include the CSS on your page</h2>
    <p>
        Include this {{code "<link>"}} element in your {{code "<head>"}}.
    </p>

  {{#code}}
    <link rel="stylesheet" href="http://yui.yahooapis.com/kimono/{{kimono.version}}/tables-min.css">
  {{/code}}


    <h2 class="content-subhead">Default Table</h2>
    <p>
        Add the {{code "k-table"}} classname to a table to style an HTML table. This class adds appropriate padding and borders to table elements, and increases the emphasis on the header.
    </p>

    {{> tables/default}}

  {{#code}}
    {{> tables/default}}
  {{/code}}


    <h2 class="content-subhead">Bordered Table</h2>
    <p>
        To add horizontal and vertical borders to all cells, add the {{code "k-table-bordered"}} classname to the {{code "<table>"}} element.
    </p>

    {{> tables/bordered}}

  {{#code}}
    {{> tables/bordered}}
  {{/code}}


    <h2 class="content-subhead">Table with Horizontal Borders</h2>
    <p>
        If you prefer to just have horizontal lines, add the {{code "k-table-horizontal"}} classname to the {{code "<table>"}} element.
    </p>

    {{> tables/horizontal}}

  {{#code}}
    {{> tables/horizontal}}
  {{/code}}


    <h2 class="content-subhead">Striped Table</h2>
    <p>
        Large tables are easier to parse visually if rows are easily distinguishable. Adding the {{code "k-table-odd"}} class name to every other {{code "<tr>"}} element changes the background of the row and creates a zebra-styled effect.
    </p>

    {{> tables/striped}}

  {{#code}}
    {{> tables/striped}}
  {{/code}}
</div>
