{{setTitle     "Tables"}}
{{setSubTitle  "Simple CSS for HTML Tables"}}
{{setActiveNav "tables"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">Default Table</h2>
    <p>
        To style an HTML table, add the {{code "pure-table"}} classname. This class adds padding and borders to table elements, and emphasizes the header.
    </p>

    {{> tables/default}}

  {{#code}}
    {{> tables/default}}
  {{/code}}


    <h2 class="content-subhead">Bordered Table</h2>
    <p>
        To add horizontal and vertical borders to all cells, add the {{code "pure-table-bordered"}} classname to the {{code "<table>"}} element.
    </p>

    {{> tables/bordered}}

  {{#code}}
    {{> tables/bordered}}
  {{/code}}


    <h2 class="content-subhead">Table with Horizontal Borders</h2>
    <p>
        If you prefer horizontal lines only, add the {{code "pure-table-horizontal"}} classname to the {{code "<table>"}} element.
    </p>

    {{> tables/horizontal}}

  {{#code}}
    {{> tables/horizontal}}
  {{/code}}


    <h2 class="content-subhead">Striped Table</h2>
    <p>
        Large tables are easier to parse visually if rows are easily distinguishable. Adding the {{code "pure-table-odd"}} class name to every other {{code "<tr>"}} element changes the background of the row and creates a zebra-styled effect.
    </p>

    {{> tables/striped}}

  {{#code}}
    {{> tables/striped}}
  {{/code}}
</div>
