{{setTitle     "Updates"}}
{{setSubTitle  "The latest from the Pure project"}}
{{setActiveNav "updates"}}

{{addLocalCSS "/css/updates.css"}}

{{> header}}

<div class="content">
    <div class="post pure-u-1">
        <h2 class="content-subhead">Releasing Pure 0.2.0</h2>
        <div class="post-meta">
            June 11, 2013 | <a href="https://github.com/yui/pure/blob/master/HISTORY.md#020-2013-06-11">View Changelog</a>
        </div>
        <p>
            Two short weeks after initially launching Pure, we're excited to release <b>Pure 0.2.0</b>, the next version of Pure! You can start using it today by pasting this {{code "<link>"}} element into your {{code "<head>"}}, or pulling it from <a href="http://github.com/yui/pure/">GitHub</a>.
        </p>

      {{#code}}
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
      {{/code}}

        <h3>What's new?</h3>

        <p>
            We fixed our {{code ":focus"}} issues, improving the accessibility that Pure gives your web project out of the box. We added {{code ":focus"}} rules to our existing {{code ":hover"}} rules, and removed {{code "outline"}} where applicable. The Pure website has also been updated to be more accessible to keyboard users and screen-readers.
        </p>
        <p>
            In addition, we applied improvements to most of the components within Pure based on people's feedback and by tackling low-hanging bugs and enhancements. A full list of the changes in this release can be found in Pure's <a href="https://github.com/yui/pure/blob/master/HISTORY.md">{{code "HISTORY.md"}}</a>.
        <p>

        <p><a href="https://github.com/yui/pure/blob/master/HISTORY.md#020-2013-06-11" class="pure-button pure-button-primary">View 0.2.0 Changelog</a></p>

        <h3>Improved Developer Workflow</h3>

        <p>
            We also put a lot of work into improving the workflow for people working on Pure. The goal was to make it easier for people to contribute to the project (and the make our lives easier) by improving our tooling and integration with <a href="https://github.com/yui/pure-site">this website's code base</a>.
        </p>

        <h4>Testing and CI</h4>
        <p>
            We wanted to add some basic tests to at least sanity check our code, and did this by integrating <a href="https://github.com/stubbornella/csslint">CSSLint</a> into our Gruntfile. The cool thing is that we hooked up <a href="https://travis-ci.org/yui/pure">Travis CI</a> so anytime someone issues a pull request it will be linted to make sure there's no typos or crazy code.
        </p>

        <h4>Auto Building with Grunt</h4>
        <p>
            To save your fingers from The Developer Konami Code: ⌘⇥ ↑ ⏎ use can now use the {{code "grunt watch"}} task to build Pure anytime a CSS file changes!
        </p>

        <h4>Testing This Site with Pure Served Locally</h4>
        <p>
            This website dogfoods Pure making it a natural place to test the latest changes, especially during development. We added a feature to support <a href="https://github.com/yui/pure-site#running-with-pure-served-locally">running the website with Pure served locally</a>. When you combine this with auto building Pure via {{code "grunt watch"}} your day becomes bright, filled with sunshine!
        </p>

        <h4>Formalized Contributing Guidelines</h4>
        <p>
            We created a <a href="https://github.com/yui/pure/blob/master/CONTRIBUTING.md">CONTRIBUTING.md</a> for Pure, which explains how you can contribute to the project. Give it a quick read before sending your pull requests!
        </p>

        <h3>Thanks to the Community</h3>

        <p>
            We've been overwhelmed by the feedback and the support that we've received since launching Pure. Although Pure is very young, it already has a vibrant community building up around it. Thanks to everyone who has been <a href="https://github.com/yui/pure/issues">opening issues</a> and <a href="https://github.com/yui/pure/pulls?direction=desc&amp;page=1&amp;sort=created&amp;state=closed">sending pull requests</a>. And a special shout-out to <a href="https://github.com/dannytatom">@dannytatom</a>, <a href="https://github.com/rcbdev">@rcbdev</a>, <a href="https://github.com/codepb">@codepb</a>, and <a href="https://github.com/mseri">@mseri</a> whose contributions were merged into the 0.2.0 release. Keep 'em coming!
        </p>
    </div>

    <aside>
        <p>
            If you have questions regarding Pure, get in touch with <a href="http://twitter.com/ericf/" title="Eric on Twitter">@ericf</a> and <a href="http://twitter.com/tilomitra/" title="Tilo on Twitter">@tilomitra</a>.
        </p>
    </aside>
</div>
