<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="{{id 'name'}}">Username</label>
            <input id="{{id 'name'}}" type="text" placeholder="Username">
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="{{id 'password'}}">Password</label>
            <input id="{{id 'password'}}" type="password" placeholder="Password">
        </div>

        <div class="pure-control-group">
            <label for="{{id 'email'}}">Email Address</label>
            <input id="{{id 'email'}}" type="email" placeholder="Email Address">
        </div>

        <div class="pure-control-group">
            <label for="{{id 'foo'}}">Supercalifragilistic Label</label>
            <input id="{{id 'foo'}}" type="text" placeholder="Enter something here...">
        </div>

        <div class="pure-controls">
            <label for="{{id 'cb'}}" class="pure-checkbox">
                <input id="{{id 'cb'}}" type="checkbox"> I've read the terms and conditions
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
