<form class="yui3-form yui3-form-aligned">
    <fieldset>
        <div class="yui3-control-group">
            <label for="{{id 'name'}}">Username</label>
            <input id="{{id 'name'}}" type="text" placeholder="Username">
        </div>

        <div class="yui3-control-group">
            <label for="{{id 'password'}}">Password</label>
            <input id="{{id 'password'}}" type="password" placeholder="Password">
        </div>

        <div class="yui3-control-group">
            <label for="{{id 'email'}}">Email Address</label>
            <input id="{{id 'email'}}" type="text" placeholder="Email Address">
        </div>

        <div class="yui3-control-group">
            <label for="{{id 'foo'}}">Supercalifragilistic Label</label>
            <input id="{{id 'foo'}}" type="text" placeholder="Enter something here...">
        </div>

        <div class="yui3-controls">
            <label class="yui3-checkbox">
                <input type="checkbox"> Check me out
            </label>

            <button type="submit" class="yui3-button">Submit</button>
        </div>
    </fieldset>
</form>
