<form class="pure-form">
    <label for="{{id 'option-one'}}" class="pure-checkbox">
        <input id="{{id 'option-one'}}" type="checkbox" value="">
        Here's option one.
    </label>

    <label for="{{id 'option-two'}}" class="pure-radio">
        <input id="{{id 'option-two'}}" type="radio" name="optionsRadios" value="option1" checked>
        Here's a radio button. You can choose this one..
    </label>

    <label for="{{id 'option-three'}}" class="pure-radio">
        <input id="{{id 'option-three'}}" type="radio" name="optionsRadios" value="option2">
        ..Or this one!
    </label>
</form>
