<form class="pure-form">
    <label for="{{id 'cb'}}" class="pure-checkbox">
        <input id="{{id 'cb'}}" type="checkbox" value="">
        Here's option one.
    </label>

    <label for="{{id 'rd1'}}" class="pure-radio">
        <input id="{{id 'rd1'}}" type="radio" name="optionsRadios" value="option1" checked>
        Here's a radio button. You can choose this one..
    </label>

    <label for="{{id 'rd2'}}" class="pure-radio">
        <input id="{{id 'rd2'}}" type="radio" name="optionsRadios" value="option2">
        ..Or this one!
    </label>
</form>
