<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Legend</legend>

        <div class="pure-g-r">
            <div class="pure-u-1-3">
                <label for="{{id 'first-name'}}">First Name</label>
                <input id="{{id 'first-name'}}" type="text">
            </div>

            <div class="pure-u-1-3">
                <label for="{{id 'last-name'}}">Last Name</label>
                <input id="{{id 'last-name'}}" type="text">
            </div>

            <div class="pure-u-1-3">
                <label for="{{id 'email'}}">E-Mail</label>
                <input id="{{id 'email'}}" type="email" required>
            </div>

            <div class="pure-u-1-3">
                <label for="{{id 'city'}}">City</label>
                <input id="{{id 'city'}}" type="text">
            </div>

            <div class="pure-u-1-3">
                <label for="{{id 'state'}}">State</label>
                <select id="{{id 'state'}}" class="pure-input-medium">
                    <option>AL</option>
                    <option>CA</option>
                    <option>IL</option>
                </select>
            </div>
        </div>

        <label class="pure-checkbox">
            <input type="checkbox"> I've read the terms and conditions
        </label>

        <button type="submit" class="pure-button notice">Submit</button>
    </fieldset>
</form>
