<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>A Stacked Form</legend>

        <label for="{{id 'email'}}">Email</label>
        <input id="{{id 'email'}}" type="email" placeholder="Email">

        <label for="{{id 'password'}}">Password</label>
        <input id="{{id 'password'}}" type="password" placeholder="Password">

        <label for="{{id 'state'}}">State</label>
        <select id="{{id 'state'}}">
            <option>AL</option>
            <option>CA</option>
            <option>IL</option>
        </select>

        <label for="{{id 'remember'}}" class="pure-checkbox">
            <input id="{{id 'remember'}}" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>
